In [14]:
import csv
import pandas as pd
import numpy as np

In [30]:
def get_Labels(csvF="400labelsAbs.csv"):
    l = pd.read_csv(csvF)

    found = l.loc[l.Index==1002].Label.squeeze()
    missing = l.loc[l.Index==1003].Label.squeeze()
   

    # print(type(found))
    # print(type(missing))

    labelDF = pd.DataFrame(np.nan,index=list(range(2240)),columns=list(l.columns))

    labelDF.Index = labelDF.index+1
    labelDF.tail()
    for val in list(l.Index.squeeze()):
        label2Add = int(l.loc[l.Index==val].Label.squeeze())
        # print(label2Add)
        labelDF.loc[labelDF.Index==val,"Label"]=label2Add
    labelDF.loc[labelDF.Index==1001]

    np.array(labelDF)
    return labelDF

In [32]:
get_Labels()

<class 'numpy.int64'>
<class 'pandas.core.series.Series'>

      Index  Label
0         1    NaN
1         2    NaN
2         3    NaN
3         4    NaN
4         5    NaN
...     ...    ...
2235   2236    NaN
2236   2237    NaN
2237   2238    NaN
2238   2239    NaN
2239   2240    0.0

[2240 rows x 2 columns]